* text=auto

*.py text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.tex text eol=lf
*.example text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.joblib binary
*.safetensors binary
